<% include partials/head.ejs %>

<h1><%= title %></h1>

<nav>
	<ul>
		<li><a href="/listevents">Process Events</a></li>
	</ul>
	<ul>
		<li><a href="/summary/iWU4p9dJ9m">Summary Merchant 1 (iWU4p9dJ9m) </a></li>
	</ul>
	<ul>
		<li><a href="/allevents">All Events augmented</a></li>
	</ul>
</nav>


<% include partials/foot.ejs %>
